<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout>
        <pattern>%level{length=1}|%date{MMdd-HHmm:ss,SSS}|%thread|%logger{1.}|%message %n</pattern>
      </PatternLayout>
    </Console>
  </Appenders>

  <Loggers>
    <Logger level="info" name="io.scalecube"/>
    <Logger level="WARN" name="io.scalecube.transport"/>
    <Logger level="info" name="io.netty"/>
    <Root level="INFO">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>

</Configuration>
